{% extends 'miomioBundle:Default:index.html.twig' %}

{% block title %}
Información de festivo.
{% endblock %}

{% block body %}
<div class="notificaciones">
    <div id="titulo">{% trans %}Información de festivo{% endtrans %}:</div>
</div>

<form  class="formulario" action="{{ path('familia_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
</form>

<div class="botonescrud">
		<div class="contenedorcrud">
      <div><a class="botonvolver" href="javascript:history.go(-1)">{% trans %}Volver{% endtrans %}</a></div>
    </div>
</div>
{% endblock %}
