{% extends 'miomioBundle:Default:index.html.twig' %}

{% block title %}
Información de producto.
{% endblock %}

{% block body %}
<div class="notificaciones">
	<div id="titulo">{% trans %}Información del producto{% endtrans %}:</div>
</div>

<form  class="formulario" action="{{ path('producto_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
</form>

	<div class="botonescrud">
		<div class="contenedorcrud">
      <div> <a class="botonvolver" href="javascript:history.go(-1)">Volver</a></div>
 	</div>
</div>

{% endblock %}
